#loginButton {
    -fx-color: #ADD8E6;
    -fx-border-radius: 50;
    -fx-background-radius: 20;
}

#registerButton {
    -fx-color: #ADD8E6;
    -fx-border-radius: 50;
    -fx-background-radius: 20;
}

#userNameLabel {
    -fx-font-weight: bold;
}

#passwordLabel {
    -fx-font-weight: bold;
}

#userNameTextField {
    -fx-border-radius: 50;
    -fx-background-radius: 22;
}

#passWordTextField {
    -fx-border-radius: 50;
    -fx-background-radius: 22;
}

.root {
    -fx-background-color:lightgray;
}